::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
    top: 0;
}

::ng-deep .ant-modal-body {
    padding: 0px;
    height: 90vh;
    width: 100%;
}

.fullWidthClass {
    width: 100%;
}

::ng-deep .ant-modal-content {
    background-color: #333;
}