.side-menu {
    min-width: 120px;
}

.separator-hr {
    margin-top: 0;
    margin-bottom: 10px;
}

[hidden] {
    display: none;
}


.main {
    display: flex;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    overflow: auto;
}

.menu {
    border-right: 1px solid #e8e8e8;
    height: 100%;
    ::ng-deep {
        .ant-menu-inline {
            border: none;
        }
        .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
            font-weight: bold;
        }
    }
}