<div class="container  ">
  <header class="pageHeader">
    <h4>
      <i nz-icon type="setting" theme="outline"></i>
      {{'pageHeader.Settings' | translate}}</h4>
  </header>
  <div [@fadeInOut] nz-row nzGutter="16" nzType="flex" nzJustify="center" nzAlign="stretch" class="bd bgc-white pT-10">
    <div nz-col nzSm="24" nzMd=6 class="side-menu">
      <div class="menu">
        <ul nz-menu [nzMode]="'inline'">
          <li *ngFor="let m of menus" nz-menu-item [nzSelected]="m.selected" [hidden]="!m.canView">
            <a [routerLink]="[]" fragment="{{m.title.toLowerCase()}}" href="#{{m.title.toLowerCase()}}" (click)="onShowTab(m.title.toLowerCase())">
              <i class="{{m.icon}}" aria-hidden="true"></i> {{m.title}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div nz-col nzSm="24" nzMd="18">
      <div class="content">
        <div id="profile" [ngClass]="{'hidden': !isProfileActivated}">
          <h4>{{'settings.header.UserProfile' | translate}}</h4>
          <hr class="separator-hr" />
          <div [@fadeInOut] *ngIf="isProfileActivated" class="content-container">
            <user-info></user-info>
          </div>
        </div>

        <div id="preferences" [ngClass]="{'hidden': !isPreferencesActivated}">
          <h4>{{'settings.header.UserPreferences' | translate}}</h4>
          <hr class="separator-hr" />
          <div [@fadeInOut] *ngIf="isPreferencesActivated" class="content-container">
            <user-preferences></user-preferences>
          </div>
        </div>

        <div id="users" [@fadeInOut] *ngIf="canViewUsers && isUsersActivated" [ngClass]="{'hidden': !isUsersActivated}">
          <h4>{{'settings.header.UsersManagements' | translate}}</h4>
          <hr class="separator-hr" />
          <div [@fadeInOut] *ngIf="canViewUsers && isUsersActivated" class="content-container">
            <users-management></users-management>
          </div>
        </div>

        <div id="roles" [@fadeInOut] *ngIf="canViewRoles && isRolesActivated" [ngClass]="{'hidden': !isRolesActivated}">
          <h4>{{'settings.header.RolesManagement' | translate}}</h4>
          <hr class="separator-hr" />
          <div [@fadeInOut] *ngIf="canViewRoles && isRolesActivated" class="content-container">
            <roles-management></roles-management>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>