<div *ngIf="!value">
  <label [hidden]="fileSelected" for="file-upload" class="custom-file-upload">
    <div class="btn-link"><i nz-icon type="cloud-upload" theme="outline"></i>
      Chọn file cần tải</div>
    <input #file id="file-upload" style="display:none;" type="file" (change)="upload(file.files)" [accept]="uploadAccept" />
  </label>
  <div *ngIf="fileSelected">
    <span *ngIf="file">{{fileSelected.name}}</span>
    <div>
      <a class="btn btn-link btn-xs" href="javascript:;" (click)="file.click()">
        <i aria-hidden="true" class="fa fa-pencil-square-o"></i>Đổi file</a>
    </div>
  </div>
  <nz-progress *ngIf="progress>0" [nzPercent]="progress" style='width:80%'></nz-progress>
  <span style="font-weight:bold;color:green;" *ngIf="message">
    {{message}}
  </span>
</div>
<ng-content>

</ng-content>