<div class="container">
  <header class="pageHeader">
    <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
  </header>

  <div [@fadeInOut]>
    <div class="row">
      <div class="col-md-9">
        <h3>Welcome to VKHCN - DHBKDN</h3>
      </div>
      <div class="col-md-3 contact-us">
      </div>
    </div>

  </div>
</div>
