<div class="m-t-10">
    <div class="row control-box">
        <div class="col-sm-8">
            <div class="form-group search-box">
                <search-box (searchChange)="onSearchChanged($event)" placeholder="Tìm kiếm"></search-box>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="navbar action-box">
                <ul class="nav navbar-nav">
                    <li class="toolbaritem"><a href="javascript:;" (click)="add()"><i class="fa fa-plus"></i>
                            Thêm mới</a></li>
                </ul>
            </div>
        </div>
    </div>
    <nz-table #basicTable [nzData]="data">
        <thead>
            <tr>
                <th>#</th>
                <th>Tiêu đề</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{data.id}}</td>
                <td>{{data.title_VN}}</td>
                <td>
                    <a (click)="view(data)">Xem</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="delete(data)">Xóa</a>
                </td>
            </tr>
        </tbody>
    </nz-table>

</div>