<div class="m-t-15">

  <div nz-row>
    <div class="w-100">
      <nz-tabset [nzTabPosition]="'top'" [nzTabBarExtraContent]="extraTemplate">
        <nz-tab *ngFor="let project of allProject$ | async" [nzTitle]="titleTemplate" (nzSelect)="selectProject(project)"
          (nzClick)="selectProject(project)">
          <ng-template #titleTemplate>
            <span class='project-name'>
              {{project.name}}
            </span>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </div>
    <ng-template #extraTemplate>
      <a *ngIf="isViewManageProject" (click)="showCreateProject()" class="btn btn-link"><i class="fa fa-plus"></i>
        Tạo dự án</a>
    </ng-template>
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">
      <div nz-col nzMd="24">
        <div nz-row *ngIf="selectedProject">
          <div nz-col nzMd="16">
            <div class="form-group search-box">
              <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'app.Search' | translate}}"></search-box>
            </div>
          </div>
          <div nzMd="8" class="m-l-10">
            <nz-button-group>
              <button nz-button (click)="addFP()" *ngIf="isViewEdit">
                <i nz-icon type="plus"> </i>
                Thêm file
              </button>
              <button *ngIf="isViewManageProject" nz-button (click)="showEditProject(selectedProject,$event)">
                <i nz-icon type="edit" theme="outline"></i>Sửa dự án</button>
              <button *ngIf="isViewManageProject" nz-button (click)="deleteProject(selectedProject,$event)">
                <i nz-icon type="delete"></i>Xóa dự án</button>
            </nz-button-group>
          </div>
        </div>
        <ng-template #editFpTemplate let-row="row" let-value="value" let-i="index">
          <div>
            <a class="btn btn-link btn-xs" href="javascript:;" (click)="selectFileProject(row)">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Xem</a>
            |
            <a class="btn btn-link btn-xs" href="javascript:;" (click)="download(row.fileUpload); $event.preventDefault();">
              <i aria-hidden="true" class="fa fa-download"></i> Tải</a>
            <span *ngIf="isViewApprove">|</span>
            <a *ngIf="isViewApprove" class="btn btn-link btn-xs" href="javascript:;" (click)="verifyFP(row)"><i class="fa fa-check"
                aria-hidden="true"></i>
              Duyệt</a>
            <span *ngIf="isViewDecline">|</span>
            <a *ngIf="isViewDecline" class="btn btn-link btn-xs" href="javascript:;" (click)="declineFP(row)"><i class="fa fa-trash-o"
                aria-hidden="true"></i>
              Sửa</a>
          </div>
        </ng-template>

        <ngx-datatable #myTable *ngIf="selectedProject" class="material colored-header expandable" [columnMode]="'force'"
          [rowHeight]="35" [headerHeight]="40" [footerHeight]="35" [scrollbarV]="true" [scrollbarH]="true" [rows]="listFileProjects"
          [columns]="columns">
          <ngx-datatable-row-detail [rowHeight]="50">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
              <div class="bdB bdwB-2">
                <div>
                  Trạng thái: <span [innerHTML]="row.status | projectStatus">
                  </span>
                </div>
                <div>
                  <a class="btn btn-link btn-xs" href="javascript:;" (click)="selectFileProject(row)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Xem</a>
                  |
                  <a class="btn btn-link btn-xs" href="javascript:;" (click)="download(row.fileUpload); $event.preventDefault();">
                    <i aria-hidden="true" class="fa fa-download"></i> Tải</a>
                  <span *ngIf="isViewApprove">|</span>
                  <a *ngIf="isViewApprove" class="btn btn-link btn-xs" href="javascript:;" (click)="verifyFP(row)"><i
                      class="fa fa-check" aria-hidden="true"></i>
                    Duyệt</a>
                  <span *ngIf="isViewDecline">|</span>
                  <a *ngIf="isViewDecline" class="btn btn-link btn-xs" href="javascript:;" (click)="declineFP(row)"><i
                      class="fa fa-trash-o" aria-hidden="true"></i>
                    Sửa</a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-row-detail>
        </ngx-datatable>
        <ng-template #projectStatus let-row="row" let-value="value">
          <span [innerHTML]="value | projectStatus">
          </span>
        </ng-template>
        <ng-template #dateTemplae let-value="value">
          <span> {{value | date:'dd/MM/yyyy'}}</span>
        </ng-template>
      </div>
    </div>

    <div class="modal fade" bsModal #fileProjectModal="bs-modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left"><i class="fa fa-tasks"></i> Thông tin file</h4>
            <button type="button" class="close fl-r" title="Close" (click)="fileProjectModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" *ngIf="fpSelectedItem">
            <form class="form-horizontal form-edit" name="taskEditorForm" [formGroup]="fileProjectForm" novalidate
              (ngSubmit)="updateProject()">
              <div class="form-group row">
                <label class="control-label col-md-3">Tên file:</label>
                <div class="col-md-9">
                  <input *ngIf="isViewEdit" type="text" id="name" name="name" placeholder="Name" class="form-control"
                    formControlName="name" />
                  <span *ngIf="isViewEdit&&isControlValid(fileProjectForm,'name')" class='text-danger'>Nhập tên file</span>
                  <span *ngIf="!isViewEdit">{{fpSelectedItem?.name}}</span>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Mô tả:</label>
                <div class="col-md-9">
                  <textarea *ngIf="isViewEdit" type="text" id="description" name="description" placeholder="Nội dung"
                    class="form-control" formControlName="description" autocomplete="false" rows="3"></textarea>
                  <span *ngIf="isViewEdit&&isControlValid(fileProjectForm,'description')" class='text-danger'>Nhập nội
                    dung</span>
                  <span *ngIf="!isViewEdit">{{fpSelectedItem?.description}}</span>
                </div>
              </div>
              <div class="row" *ngIf="fpSelectedItem.id">
                <label class="control-label col-md-3">Trạng thái:</label>
                <div class="col-md-9">
                  <div [innerHTML]="fpSelectedItem?.status | projectStatus" class='m-t-5'>
                  </div>
                </div>
              </div>
              <div class=row>
                <label class="control-label col-md-3">File báo cáo:</label>
                <div class="col-md-9">
                  <div class='m-t-5'>
                    <app-upload #fileUpload [uploadAccept]="'.png, .jpg, .jpeg, .pdf, .doc, .xls, .xlsx, .docx'"
                      [uploadType]="'fileproject'" [uploadTargetId]="fpSelectedItem.id.toString()" [uploadDetail]="fpSelectedItem.comment"
                      [(ngModel)]="fpSelectedItem.fileUpload" [ngModelOptions]="{standalone: true}" (uploadFinish)="fpSelectedItem.fileUploadId=$event.id"
                      [delayUpload]="true">
                      <div *ngIf="fpSelectedItem.fileUpload">
                        <span>{{fpSelectedItem?.fileUpload.name}}</span>
                        <div>
                          <a class="btn btn-link btn-xs" href="javascript:;" (click)="download(fpSelectedItem.fileUpload)">
                            <i aria-hidden="true" class="fa fa-download"></i> Tải</a>
                          <a class="btn btn-link btn-xs" href="javascript:;" (click)="changeFileUpload()">
                            <i aria-hidden="true" class="fa fa-pencil-square-o"></i>Đổi file</a>
                          <a class="btn btn-link btn-xs" href="javascript:;" (click)="viewOldFile()">
                            <i aria-hidden="true" class="fa fa-pencil-square-o"></i>Xem các file cũ</a>
                        </div>
                      </div>
                    </app-upload>
                  </div>
                </div>
              </div>
              <div class="form-group row" *ngIf="fpSelectedItem.id">
                <label class="control-label col-md-3">Nội dung chỉnh sửa:</label>
                <div class="col-md-9">
                  <input type="text" id="comment" name="comment" class="form-control" formControlName="comment" />
                  <span *ngIf="isControlValid(fileProjectForm,'comment')" class='text-danger'>Nhập ghi chú</span>
                </div>
              </div>
              <div class="row">
                <label class="control-label col-md-3">Ngày tạo:</label>
                <div class="col-md-9">
                  <nz-date-picker formControlName="createdDate" nzPlaceHolder="Ngày(DD-MM-YYYY)" nzFormat="dd-MM-YYYY"></nz-date-picker>
                </div>
              </div>
              <div class="row" *ngIf="allFiles">
                <div class=" col-md-3">Danh sách file:</div>
              </div>
              <div class=row *ngIf="allFiles">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Tên</th>
                      <th>Ngày tải lên</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let file of allFiles;let i= index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{file.name}}</td>
                      <td>{{file.createdDate | date :'dd/MM/yyyy'}}</td>
                      <td>
                        <div class="col-md-3"> <a class="btn btn-link btn-xs" href="javascript:;" (click)="download(file)">
                            <i aria-hidden="true" class="fa fa-download"></i> Tải</a></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-12">
                <hr class="edit-last-separator-hr" />
              </div>
              <div class="form-group actionBtn-form-group">
                <div class="fl-l">
                  <button *ngIf="isViewEdit" type="button" nz-button nzType="default" (click)="deleteFP()">
                    Xóa
                  </button>
                </div>
                <div class="fl-r">
                  <button *ngIf="!fpSelectedItem.id" type="button" nz-button nzType="primary" class="mR-10" (click)="createFP()"
                    [disabled]="isLoading">
                    Thêm</button>
                  <button *ngIf="fpSelectedItem.id&&isViewSave" type="button" nz-button nzType="default" class="mR-10"
                    [disabled]="isLoading" (click)="saveFP()">Cập
                    nhật</button>
                  <button *ngIf="fpSelectedItem.id&&isViewDecline" type="button" nz-button nzType="danger" class="mR-10"
                    [disabled]="isLoading" (click)="declineFP()">Chỉnh
                    sửa </button>
                  <button *ngIf="fpSelectedItem.id&&isViewApprove" type="button" nz-button nzType="primary" class=" mR-10"
                    [disabled]="isLoading" (click)="verifyFP()">
                    <i class="fa fa-save"></i>
                    Phê duyệt</button>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" bsModal #projectCreateModal="bs-modal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title fl-l">
              <i class="fa fa-tasks"></i> Thông tin dự án
            </h4>
            <button type="button" class="close fl-r" title="Close" (click)="projectCreateModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" [formGroup]="projectForm" novalidate (ngSubmit)="createProject()">
              <div class="form-group">
                <label class="control-label col-md-2" for="name">Tên dự án</label>
                <div class="col-md-10">
                  <input type="text" id="name" name="name" placeholder="Tên dự án" class="form-control" formControlName="name"
                    autocomplete="false" />
                  <span *ngIf="isViewEdit&&isControlValid(projectForm,'name')" class='text-danger'>Nhập tên dự án</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-2" for="description">Mô tả:</label>
                <div class="col-md-10">
                  <textarea type="text" id="description" name="description" placeholder="Nội dung" class="form-control"
                    formControlName="description" autocomplete="false" rows="3"></textarea>
                  <!-- <span *ngIf="isViewEdit&&isControlValid(projectForm,'description')" class='text-danger'>Nhập mô tả</span> -->
                </div>
              </div>
              <div class="col-md-12">
                <hr class="edit-last-separator-hr" />
              </div>
              <div class="form-group actionBtn-form-group">`
                <div class="fl-l">
                  <button *ngIf="isViewEdit&&projectForm.controls['id'].value" type="button" nz-button nzType="default"
                    [disabled]="isLoading" (click)="deleteProject(null,null)">
                    Xóa
                  </button>
                </div>
                <div class="fl-r">
                  <button *ngIf="isViewEdit&&!projectForm.controls['id'].value" type="submit" nz-button nzType="primary"
                    [disabled]="isLoading" class="mR-10">Thêm</button>
                  <button *ngIf="isViewEdit&&projectForm.controls['id'].value" type="submit" nz-button nzType="primary"
                    [disabled]="isLoading" class="mR-10">
                    Cập nhật
                  </button>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>