.form-edit span {
    margin-top: 5px;
    display: block;
}

.project-name {
    user-select: none;
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.list-project {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-content {
    height: 120px;
    margin-top: -16px;
}