﻿<!-- Feature Area Start -->

<div id="feature" class="service-area-four section-pt section-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 ml-auto mr-auto">
                <div class="section-title">
                    <h2>@NgonNgu["Future"]<span>- @NgonNgu["Research"]</span></h2>
                    <p style="text-align:justify">@NgonNgu["Introduction1"]</p>
                    <p style="text-align:justify">@NgonNgu["Introduction2"]</p>
                </div>
            </div>
        </div>
        <div class="feature-area-inner-four">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-feature mb--30">
                        <div class="feature-icon">
                            <span class="bi bi-cloud-up"></span>
                        </div>
                        <div class="feature-text">
                            <h3>AI</h3>
                            <p>@NgonNgu["AI_detail"] </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature mb--30">
                        <div class="feature-icon">
                            <span class="bi bi-nuclear-circle"></span>
                        </div>
                        <div class="feature-text">
                            <h>IoT</h>
                            <p>@NgonNgu["IOT_detail"] </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature mb--30">
                        <div class="feature-icon">
                            <span class="bi bi-paper"></span>
                        </div>
                        <div class="feature-text">
                            <h3>BigData</h3>
                            <p> @NgonNgu["BigData_detail"]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- Feature Area End -->
