
<div class="">
    <footer class="footer-area footer-bg subscribe-bg" id="contact">
        <div class="footer-top section-pt-70 section-pb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-list">
                            <ul>
                                <li><a href="/">@NgonNgu["Home"]</a></li>
                                <li><a href="/about">@NgonNgu["About"]</a></li>
                                <li><a href="http://www.dut.udn.vn">DH- BKDN</a></li>
                                <li><a href="/news">@NgonNgu["News"]</a></li>
                                <li><a href="/quanly">@NgonNgu["Manage"]</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-address">
                            <div class="footer-info">
                                <p>
                                   <a href="tel:+02363720992">+0236 372 0992</a>
                                </p>
                            </div>
                            <div class="footer-info">
                                <p><a href="mailto:dpist@dut.edu.vn">dpist@dut.edu.vn</a></p>
                            </div>

                            <p>@NgonNgu["Address"]</p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="social-link">
                            @*<ul>
                                    <li><a href="#">Facebook</a></li>
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="#">Google+</a></li>
                                    <li><a href="#">Linkdin</a></li>
                                    <li><a href="#">Behance</a></li>
                                </ul>*@
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="copy-right">
                            <p>&copy; @System.DateTime.Now.Year - @NgonNgu["Danang Polytechnic Institute of Science and Technology"] -@NgonNgu["University of Science and Technology"] </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
