﻿
<header class="header header-sticky">
    <!-- header Top start -->
    <div id="main-menu" class="header-top inner-header">
        <div class="container">
            <div class="row header-top-inner">
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="/"><img src="/assets/images/logo/logo.jpg" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- Main Menu Start -->
                    <div class="main-menu">
                        <nav class="main-navigation">
                            <ul>
                                <li>
                                    <a href="/">@NgonNgu["Home"]</a>
                                </li>
                                <li class="smooth-scroll">
                                    <a asp-controller="Home" asp-action="About">@NgonNgu["About"]</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="News">@NgonNgu["News"]</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">@NgonNgu["Contact"]</a>
                                </li>
                                <li>
                                    <a href="/quanly" target="_blank">@NgonNgu["Manage"]</a>
                                </li>

                                @await Html.PartialAsync("_SelectLanguagePartial")
                                <!-- <app-seleclanguage></app-seleclanguage> -->
                            </ul>
                        </nav>
                    </div>
                    <!-- Main Menu End -->
                </div>
                <div class="col">
                    <!-- mobile-menu start -->
                    <div class="mobile-menu d-block d-lg-none"></div>
                    <!-- mobile-menu end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header Top end -->
</header>