﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @NgonNgu["Danang Polytechnic Institute of Science and Technology"] </title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins.css">
    <environment include="Development">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/app.css">
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/assets/css/bundle.min.css"  asp-append-version="true">
    </environment>
    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    @*<div class="fakeloader"></div>*@
    <div class="main-wrapper">
        <partial name="_header" />
        <div class="main-content">
            @RenderBody()
        </div>
        <partial name="_footer" />
    </div>

    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Popper JS -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="/assets/js/plugins.js"></script>
    <!-- Ajax Mail -->
    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>