﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@if (requestCulture.RequestCulture.Culture.Name == "vi")
{
    <form asp-controller="Home"
          asp-action="SetLanguage" asp-route-returnUrl="@returnUrl"
          method="post" class="form-horizontal inline-form"  role="form">
        <input type="hidden" name="culture" value="en-us" />
        <button type"submit" class="blank-btn">
            <img src="~/assets/images/icon/english.png" />
        </button>
    </form>
}
@if (requestCulture.RequestCulture.Culture.Name == "en-US")
{
    <form asp-controller="Home"
          asp-action="SetLanguage" asp-route-returnUrl="@returnUrl"
          method="post" class="form-horizontal inline-form" role="form"
          >
        <input type="hidden" name="culture" value="vi" />
        <button type"submit" class="blank-btn">
            <img src="~/assets/images/icon/vietnam.png" />
        </button>
    </form>
}

