<div class="app">
  <app-sidebar></app-sidebar>
  <div class="page-container">
    <!-- ### $Topbar ### -->
    <div class="header navbar">
      <div class="header-container">
        <ul class="nav-left">
          <li>
            <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);" (click)="toggleSideBar($event)">
              <i nz-icon type="menu"></i>
            </a>
          </li>
        </ul>
        <ul class="nav-right">
          <li class="dropdown">
            <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
              <div class="peer mR-10">
                <img class="w-2r bdrs-50p" [src]="accountImage" alt="">
              </div>
              <div class="peer">
                <span class="fsz-sm c-grey-900">{{userName}}</span>
              </div>
            </a>
            <ul class="dropdown-menu fsz-sm">
              <li>
                <a href="javascript:;" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700" routerLinkActive="active"
                  routerLink="/settings">
                  <i class="mR-10"nz-icon type="setting" theme="outline"></i>
                  <span>Setting</span>
                </a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="javascript:;" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700" (click)="logout()">
                  <i class="mR-10"nz-icon type="logout" theme="outline"></i>
                  <span>Logout</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <main class='main-content bgc-grey-100'>
        <ng-content>

        </ng-content>
    </main>
  </div>
</div>