<!-- #Left Sidebar ==================== -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner" >
        <!-- ### $Sidebar Header ### -->
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed">
                    <a class="sidebar-link td-n" href="index.html">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo center-container">
                                    <img [src]="appLogo" alt="logo" width="40" height=40>
                                </div>
                            </div>
                            <div class="peer peer-greed">
                                <h5 class="lh-1 mB-0 logo-text">{{appTitle}}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="peer">
                    <div class="mobile-toggle sidebar-toggle">
                        <a href="javascript:void(0);" class="td-n" (click)="toggleSideBar($event)">
                            <i nz-icon type="close-circle" theme="outline"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ### $Sidebar Menu ### -->
        <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 active">
                <a class="sidebar-link" routerLink="">
                    <span class="icon-holder">
                        <i class="c-blue-500" nz-icon type="home" theme="outline"></i>
                    </span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);" (click)="toggleDropDown($event)">
                    <span class="icon-holder">
                        <i class="c-red-500" nz-icon type="book"></i>
                    </span>
                    <span class="title">DPIST</span>
                    <span class="arrow">
                        <i nz-icon type="right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li *hasPermission="['news.view']">
                        <a class="sidebar-link" routerLink="/news"><b>Tin tức</b></a>
                    </li>
                    <li *hasPermission="['congvan.view']">
                        <a class="sidebar-link" routerLink="/congvanden"><b>Công văn
                                đến</b></a>
                    </li>
                    <li *hasPermission="['congvan.view']">
                        <a class="sidebar-link" routerLink="/congvandi"><b>Công văn
                                đi</b></a>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);" (click)="toggleDropDown($event)">
                    <span class="icon-holder">
                        <i nz-icon type="form"></i>
                    </span>
                    <span class="title">LAS-XD</span>
                    <span class="arrow">
                        <i nz-icon type="right"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li *hasPermission="['fileProject.view']">
                        <a class="sidebar-link" routerLink="/project-files"><b>Trình duyệt</b></a>
                    </li>
                    <li *hasPermission="['fileProject.view']">
                        <a class="sidebar-link" routerLink="/baocao"><b>Báo cáo</b></a>
                    </li>
                    <li *hasPermission="['fileProject.view']">
                        <a class="sidebar-link" routerLink="/filemau"><b>File template</b></a>
                    </li>
                    <li *hasPermission="['fileProject.view']">
                        <a class="sidebar-link" href="/public/index"><b>Share</b></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>