<div>
  <!-- #Main ============================ -->
  <div class="page-container">
    <!-- ### $Topbar ### -->
    <div class="header navbar">
      <div class="header-container">
      </div>
    </div>

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="full-container">
          <ng-content>

          </ng-content>
        </div>
      </div>
    </main>
    <!-- ### $App Screen Footer ### -->
    <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
      <span>Viện khoa học công nghệ -DHBK Đà Nẵng</span>
    </footer>
  </div>
</div>