﻿@model IEnumerable<QuanlyVkhcn.ViewModels.BaocaoViewModel>
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>VKHCN-BKDN</title>


</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <div class="container">
        <h3 style="text-align:center; margin-top:20px ; color:blue">VIỆN KHOA HỌC VÀ CÔNG NGHỆ BÁCH KHOA ĐÀ NẴNG</h3>
        <h4>Báo cáo</h4>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ngày Báo cáo</th>
                    <th scope="col">Mã Báo cáo</th>
                    <th scope="col">Nội dung Báo cáo</th>
                    <th scope="col">Download</th>
                </tr>
            </thead>

            <tbody>
                @{int i = 0;

                    @foreach (QuanlyVkhcn.ViewModels.BaocaoViewModel p in Model.OrderByDescending(o => o.Ngaybc))
                    {
                        <tr>
                            <th scope="row">@(i = i + 1)</th>
                            <td>@p.Ngaybc</td>
                            <td>@p.Loaibc</td>
                            <td>@p.Tenbc</td>
                            <td>
                                <a href="/api/fileproject/download/@p.FilePublicId">Download</a>
                            </td>


                        </tr>
                    }
                }

            </tbody>
        </table>

    </div>
</body>

</html>