.appTitle.app-component {
    line-height: 50px;
}



a.user-name.app-component {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
}




.vcenter_text.app-component {
    line-height: 40px;
    vertical-align: middle;
}

.prebootShow.app-component {
    opacity: 1 !important;
}

.prebootStep.app-component {
    opacity: 0;
    transition: .5s ease-in-out all;
}



.cdk-overlay-container {
    z-index: 10000;
}