<ngx-toasta></ngx-toasta>
<div id="mainContent" class="app-component">
  <app-default *ngIf="isUserLoggedIn">
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </app-default>
  <app-layout-empty *ngIf="!isUserLoggedIn">
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </app-layout-empty>
</div>
<ng-template #template>
  <router-outlet>
  </router-outlet>
</ng-template>
<div id="pre-bootstrap" *ngIf="!removePrebootScreen" [class.prebootShow.app-component]="!isAppLoaded" class="app-component prebootStep">
  <div class="messaging">
    <h1>
      Loaded!
    </h1>
    <p>
      Viện Khoa Học Công Nghệ - Đại học Bách Khoa Đà Nẵng.
    </p>
  </div>
</div>

<div *ngIf="shouldShowLoginModal" class="modal fade" bsModal #loginModal="bs-modal" (onShown)="onLoginModalShown()"
  (onHidden)="onLoginModalHidden()" (onHide)="onLoginModalHide()" [config]="{backdrop: 'static'}" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <app-login #loginControl isModal="true"></app-login>
  </div>
</div>