
@import '~src/app/assets/styles/settings/index.scss';
@import '~src/app/assets/styles/tools/index.scss';
@import '~src/app/assets/styles/utils/index.scss';
// ---------------------------------------------------------
// @TOC

// + @Topbar
// + @Collapsed State

// ---------------------------------------------------------
// @Topbar
// ---------------------------------------------------------

.header {
    background-color: $default-white;
    border-bottom: 1px solid $border-color;
    display: block;
    margin-bottom: 0;
    padding: 0;
    position: fixed;
    transition: all 0.2s ease;
    width: calc(100% - #{$offscreen-size});
    z-index: 800;
  
    @include to($breakpoint-md) {
      width: 100%;
    }
  
    @include between($breakpoint-md, $breakpoint-xl) {
      width: calc(100% - #{$collapsed-size});
    }
  
    .header-container {
      @include clearfix;
  
      height: $header-height;
  
      .nav-left,
      .nav-right {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        position: relative;
  
        > li {
          float: left;
  
          > a {
            color: $default-text-color;
            display: block;
            line-height: $header-height;
            min-height: $header-height;
            padding: 0 15px;
            transition: all 0.2s ease-in-out;
  
            i {
              font-size: 17px;
            }
  
            &:hover,
            &:focus {
              color: $default-dark;
              text-decoration: none;
            }
  
            @include to($breakpoint-md) {
              padding: 0 15px;
            }
          }
        }
  
        .notifications {
          position: relative;
  
          .counter {
            background-color: $default-danger;
            border-radius: 50px;
            color: $default-white;
            font-size: 10px;
            line-height: 1;
            padding: 3px 5.5px;
            position: absolute;
            right: 6px;
            top: 12px;
          }
  
          .dropdown-menu {
            min-width: 350px;
            padding: 0;
  
            @include to($breakpoint-sm) {
              max-width: 300px;
            }
          }
        }
      }
  
      .dropdown-menu {
        display: block;
        margin: 0;
        transform-origin: top right;
        transform: scale(0, 0);
        transition: transform 0.15s ease-out;
  
        .divider {
          border-bottom: 1px solid $border-color;
          height: 1px;
          overflow: hidden;
        }
  
        > li {
          > a {
            transition: all 0.2s ease-out;
          }
        }
      }
  
      .show {
        .dropdown-menu {
          transform: scale(1, 1);
        }
      }
  
      .nav-left {
        float: left;
        margin-left: 15px;
      }
  
      .nav-right {
        float: right;
  
        .dropdown-menu {
          left: auto;
          right: 0;
  
          > li {
            width: 100%;
  
            > a {
              line-height: 1.5;
              min-height: auto;
              padding: 10px 15px;
            }
          }
        }
      }
    }
  
    .search-box {
      .search-icon-close {
        display: none;
      }
  
      &.active {
        .search-icon {
          display: none;
        }
  
        .search-icon-close {
          display: inline-block;
        }
      }
    }
  
    .search-input {
      display: none;
  
      &.active {
        display: inline-block;
      }
  
      input {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        font-size: 18px;
        height: 40px;
        margin-top: 12px;
        outline: none;
        padding: 5px;
  
        @include to($breakpoint-sm) {
          width: 85px;
        }
  
        @include placeholder {
          color: lighten($default-text-color, 20%);
          font-style: italic;
        }
      }
    }
  }
  
  // ---------------------------------------------------------
  // @Collapsed State
  // ---------------------------------------------------------
  
  .is-collapsed {
    .header {
      width: calc(100% - #{$collapsed-size});
  
      @include to($breakpoint-md) {
        width: 100%;
      }
  
      @include between($breakpoint-md, $breakpoint-xl) {
        width: calc(100% - #{$offscreen-size});
      }
    }
  }
  

  // ---------------------------------------------------------
// @TOC
// ---------------------------------------------------------

// + @Page Container
// + @Main Content
// + @Full Container
// + @Collapsed State

// ---------------------------------------------------------
// @Page Container
// ---------------------------------------------------------

.page-container {
    min-height: 100vh;
    padding-left: $offscreen-size;
    transition: all 0.2s ease;
  
    @include between($breakpoint-md, $breakpoint-xl) {
      padding-left: $collapsed-size;
    }
  
    @include to($breakpoint-md) {
      padding-left: 0;
    }
  }
  
  // ---------------------------------------------------------
  // @Main Content
  // ---------------------------------------------------------
  
  .main-content {
    padding: 85px 5px 5px;
    overflow: hidden;
    min-height: calc(100vh - 61px);
  
    @include to($breakpoint-md) {
      padding: 85px 5px 5px;
    }
  }
  
  .remain-height {
    height: calc(100vh - 126px);
  }
  
  // ---------------------------------------------------------
  // @Full Container
  // ---------------------------------------------------------
  
  .full-container {
    left: $offscreen-size;
    min-height: calc(100vh - #{$header-height});
    position: absolute;
    right: 0;
    transition: all 0.2s ease;
  
    @include between($breakpoint-md, $breakpoint-xl) {
      left: 0;
      padding-left: $collapsed-size;
    }
  
    @include to($breakpoint-md) {
      left: 0;
    }
  }
  
  // ---------------------------------------------------------
  // @Collapsed State
  // ---------------------------------------------------------
  
  .is-collapsed {
    .page-container {
      padding-left: $collapsed-size;
  
      @include to($breakpoint-md) {
        padding-left: 0;
      }
  
      @include between($breakpoint-md, $breakpoint-xl) {
        padding-left: $offscreen-size;
      }
    }
  
    .full-container {
      left: $collapsed-size;
  
      @include to($breakpoint-md) {
        left: 0;
      }
  
      @include between($breakpoint-md, $breakpoint-xl) {
        left: $offscreen-size;
        padding-left: 0;
      }
    }
  }
  

  // ---------------------------------------------------------
// @TOC
// ---------------------------------------------------------

// + @Sidebar
// + @Sidebar Inner
// + @Sidebar Header
// + @Sidebar Menu
// + @Sidebar Collapsed

// ---------------------------------------------------------
// @Sidebar
// ---------------------------------------------------------
.sidebar {
    background-color: $default-white;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: all 0.2s ease;
    width: $offscreen-size;
    z-index: 1000;
  
    ul {
      list-style-type: none;
    }
  
    @include between($breakpoint-md, $breakpoint-xl) {
      width: $collapsed-size;
  
      .sidebar-inner {
        .sidebar-logo {
          border-bottom: 1px solid transparent;
          padding: 0;
  
          a {
            .logo {
              background-position: center center;
              width: $collapsed-size;
            }
          }
        }
  
        .sidebar-menu {
          overflow-x: hidden;
  
          > li {
            > a {
              .title {
                display: none;
              }
            }
          }
  
          li {
            &.dropdown {
              .arrow {
                opacity: 0;
              }
  
              &.open {
                ul.dropdown-menu {
                  display: none !important;
                }
              }
            }
          }
        }
      }
  
      &:hover {
        width: $offscreen-size;
  
        .sidebar-inner {
          .sidebar-logo {
            border-bottom: 1px solid $border-color;
            padding: 0 20px;
          }
  
          .sidebar-menu {
            > li {
              > a {
                .title {
                  display: inline-block;
                }
              }
            }
  
            li {
              &.dropdown {
                .arrow {
                  opacity: 1;
                }
              }
  
              &.open {
                > ul.dropdown-menu {
                  display: block !important;
                }
              }
            }
          }
        }
      }
    }
  
    @include to($breakpoint-md) {
      left: -$offscreen-size;
      width: calc(#{$offscreen-size} - 30px);
    }
  }
  
  // ---------------------------------------------------------
  // @Sidebar Inner
  // ---------------------------------------------------------
  
  .sidebar-inner {
    position: relative;
    height: 100%;
  }
  
  // ---------------------------------------------------------
  // @Sidebar Header
  // ---------------------------------------------------------
  
  .sidebar-logo {
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    line-height: 0;
    padding: 0 20px;
    transition: all 0.2s ease;
  
    a {
      display: inline-block;
      width: 100%;
  
      .logo-text {
        color: $grey-900;
      }
    }
  
    .mobile-toggle {
      display: none;
      float: right;
      font-size: 18px;
      line-height: calc(#{$header-height} - 1px);
  
      a {
        color: $default-text-color;
      }
  
      @include to($breakpoint-md) {
        display: inline-block;
      }
  
      @include between($breakpoint-md, $breakpoint-xl) {
        display: none;
      }
    }
  }
  
  // ---------------------------------------------------------
  // @Sidebar Menu
  // ---------------------------------------------------------
  
  .sidebar-menu {
    @include clearfix;
    border-right: 1px solid $border-color;
    height: calc(100vh - #{$header-height});
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: relative;
  
    .dropdown-toggle::after {
      display: none;
    }
  
    .sidebar-link {
      &.active::before {
        background: $md-blue-500;
        border-radius: 50%;
        content: '';
        display: block;
        height: 8px;
        left: -4px;
        position: absolute;
        top: calc(50% - 4px);
        width: 8px;
      }
    }
  
    li {
      position: relative;
  
      &.dropdown {
        .arrow {
          font-size: 10px;
          line-height: 40px;
          position: absolute;
          right: 30px;
          transition: all 0.05s ease-in;
  
          @include to($breakpoint-md) {
            right: 25px;
          }
        }
  
        &.open {
          > a {
            color: $default-dark;
  
            .icon-holder {
              color: $default-info;
            }
  
            > .arrow {
              transform: rotate(90deg);
            }
          }
  
          > .dropdown-menu {
            display: block;
  
            .dropdown-menu {
              padding-left: 20px;
            }
  
            .arrow {
              line-height: 25px;
            }
          }
        }
      }
  
      a {
        color: $default-text-color;
        transition: all 0.3s ease;
  
        &:hover,
        &:focus {
          color: $default-dark;
          text-decoration: none;
  
          .icon-holder {
            color: $default-info;
          }
        }
      }
    }
  
    > li {
      &.dropdown {
        ul {
          &.dropdown-menu {
            background-color: transparent;
            border-radius: 0;
            border: 0;
            box-shadow: none;
            float: none;
            padding-left: 50px;
            padding-top: 0;
            position: relative;
            width: 100%;
  
            > li {
              > a {
                display: block;
                padding: 10px 15px;
  
                &:hover,
                &:focus {
                  background-color: transparent;
                  color: $default-dark;
                }
              }
  
              &.active {
                a {
                  color: $default-dark;
                }
              }
            }
          }
        }
      }
  
      > a {
        display: block;
        font-size: 15px;
        font-weight: 500;
        padding: 5px 15px;
        position: relative;
        white-space: nowrap;
  
        .icon-holder {
          border-radius: 6px;
          display: inline-block;
          font-size: 17px;
          height: 35px;
          left: 0;
          line-height: 35px;
          margin-right: 14px;
          position: relative;
          text-align: center;
          transition: all 0.3s ease;
          width: 35px;
        }
      }
    }
  }
  
  // ---------------------------------------------------------
  // @Sidebar Collapsed
  // ---------------------------------------------------------
  
  .is-collapsed {
    .sidebar {
      @include from($breakpoint-xl) {
        width: $collapsed-size;
  
        .sidebar-inner {
          .sidebar-logo {
            border-bottom: 1px solid transparent;
            padding: 0;
          }
  
          .sidebar-menu {
            overflow-x: hidden;
  
            > li {
              > a {
                .title {
                  display: none;
                }
              }
            }
  
            li {
              &.dropdown {
                .arrow {
                  opacity: 0;
                }
  
                &.open {
                  ul.dropdown-menu {
                    display: none !important;
                  }
                }
              }
            }
          }
        }
  
        &:hover {
          width: $offscreen-size;
  
          .sidebar-inner {
            .sidebar-logo {
              border-bottom: 1px solid $border-color;
              padding: 0 20px;
            }
  
            .sidebar-menu {
              > li {
                > a {
                  .title {
                    display: inline-block;
                  }
                }
              }
  
              li {
                &.dropdown {
                  .arrow {
                    opacity: 1;
                  }
                }
  
                &.open {
                  > ul.dropdown-menu {
                    display: block !important;
                  }
                }
              }
            }
          }
        }
      }
  
      @include between($breakpoint-md, $breakpoint-xl) {
        width: $offscreen-size;
  
        .sidebar-inner {
          .sidebar-logo {
            border-bottom: 1px solid $border-color;
            padding: 0 20px;
  
            > a {
              .logo {
                background-position: center left;
                width: 150px;
              }
            }
          }
  
          .sidebar-menu {
            > li {
              > a {
                .title {
                  display: inline-block;
                }
              }
            }
  
            li {
              &.dropdown {
                .arrow {
                  opacity: 1;
                }
              }
  
              &.open {
                > ul.dropdown-menu {
                  display: block !important;
                }
              }
            }
          }
        }
      }
  
      @include to($breakpoint-md) {
        left: 0;
      }
    }
  }