.ngx-datatable.material.xs {
    font-size: 10px;
}

.ngx-datatable.material.sm {
    font-size: 12px;
}

.ngx-datatable.material.md {
    font-size: 14px;
}

.ngx-datatable.material.lg {
    font-size: 16px;
}

.ngx-datatable.material .datatable-header {
    border-bottom: 1px solid #ddd;
}

.ngx-datatable.material.colored-header .datatable-header {
    padding: .9rem 0;
    color: #fff;
    background-color: #027FF4;
}

.ngx-datatable.material.table .datatable-body .datatable-body-row,
.ngx-datatable.material.table-bordered .datatable-body .datatable-body-row {
    border-top: 1px solid #ddd;
}


.ngx-datatable.material .datatable-footer .page-count {
    line-height: 50px;
    height: 50px;
    padding: 0 1.2rem;
}

.ngx-datatable.material .datatable-footer .datatable-pager {
    margin: 0 10px;
}

.ngx-datatable.material .datatable-footer .datatable-pager li {
    vertical-align: middle;
}

.ngx-datatable.material .datatable-footer .datatable-pager li.disabled a {
    color: rgba(0, 0, 0, 0.26) !important;
    background-color: transparent !important;
}

.ngx-datatable.material .datatable-footer .datatable-pager li.active a {
    background-color: rgba(158, 158, 158, 0.2);
    font-weight: bold;
}

.ngx-datatable.material .datatable-footer .datatable-pager a {
    height: 22px;
    min-width: 24px;
    line-height: 22px;
    padding: 0 6px;
    border-radius: 3px;
    margin: 6px 3px;
    text-align: center;
    vertical-align: top;
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
    vertical-align: bottom;
}

.ngx-datatable.material .datatable-footer .datatable-pager a:hover {
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(158, 158, 158, 0.2);
}

.ngx-datatable.material .datatable-footer .datatable-pager .icon-left,
.ngx-datatable.material .datatable-footer .datatable-pager .icon-skip,
.ngx-datatable.material .datatable-footer .datatable-pager .icon-right,
.ngx-datatable.material .datatable-footer .datatable-pager .icon-prev {
    font-size: 20px;
    line-height: 20px;
    padding: 0 3px;
}

