<div class="container">
  <div [@fadeInOut]>
    <div *ngIf="!configurations.showDashboardStatistics && !configurations.showDashboardNotifications && !configurations.showDashboardTodo && !configurations.showDashboardBanner" class="well well-lg">
      <h4 class="text-muted text-center">
        {{'home.NoWidgets1' | translate}} <a routerLink="/settings" fragment="preferences"><i class="fa fa-sliders"></i> {{'settings.tab.Preferences' | translate}}</a>
        {{'home.NoWidgets2' | translate}}
      </h4>
    </div>
  </div>
</div>
