<div>
  <div class="row control-box">
    <div class="col-sm-8">
      <div class="form-group search-box">
        <br />
        <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'app.Search' | translate}}"></search-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="navbar action-box">
        <ul class="nav navbar-nav">
          <li class="toolbaritem">
            <a href="javascript:;" (click)="add()">
              <i class="fa fa-plus"></i>
              {{'app.New' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ngx-datatable class="material colored-header sm table-hover" [columnMode]="'force'" [rowHeight]="35" [headerHeight]="35"
    [footerHeight]="35" [scrollbarV]="true" [scrollbarH]="true" [rows]="data" [columns]="columns">
  </ngx-datatable>

  <ng-template #editTemplate let-row="row" let-value="value" let-i="index">
    <div>
      <a class="btn btn-link btn-xs" href="javascript:;" (click)="download(row.fileUpload)">
        <i aria-hidden="true" class="fa fa-download"></i> Doc
      </a>|
      <a class="btn btn-link btn-xs" href="javascript:;" (click)="download(row.filePublic)">
        <i aria-hidden="true" class="fa fa-download"></i> Pdf
      </a>
      <a *ngIf="isViewManageProject">|</a>
      <a *ngIf="isViewManageProject" class="btn btn-link btn-xs" href="javascript:;" (click)="edit(row)"><i class="fa fa-pencil-square-o"
          aria-hidden="true"></i>Edit</a>
      <a *ngIf="isViewManageProject">|</a>
      <a *ngIf="isViewManageProject" class="btn btn-link btn-xs" href="javascript:;" (click)="remove(row)"><i class="fa fa-trash-o"
          aria-hidden="true"></i>Del</a>
    </div>
  </ng-template>

  <ng-template #dateTemplae let-value="value">
    <span> {{value | date:'dd/MM/yyyy'}}</span>
  </ng-template>


  <div class="modal fade" bsModal #editorModal="bs-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-tasks"></i> {{'todoDemo.editor.NewTask' | translate}}</h4>
          <button type="button" class="close fl-r" title="Close" (click)="editorModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form *ngIf="formResetToggle" class="form-horizontal" name="taskEditorForm" #f="ngForm" novalidate (ngSubmit)="save()">

            <div class="form-group description-form-group">
              <label class="control-label col-md-2" for="loaibc">Mã BC</label>
              <div class="col-md-10">
                <input type="text" id="title_vn" name="loaibc" placeholder="06-04/NHA/KQ/2018/LAS-XD 1784" class="form-control"
                  [(ngModel)]="taskEdit.loaibc" />
              </div>
            </div>

            <div class="form-group description-form-group">
              <label class="control-label col-md-2" for="tenbc">Nội dung BC</label>
              <div class="col-md-10">
                <input type="text" id="title_vn" name="tenbc" placeholder="Nội dung chính của BC" class="form-control"
                  [(ngModel)]="taskEdit.tenbc" />
              </div>
            </div>
            <div class="form-group description-form-group">
              <label class="control-label col-md-2" for="ngaybc">Ngày BC</label>
              <div class="col-md-10">
                <nz-date-picker [(ngModel)]="taskEdit.ngaybc" [ngModelOptions]="{standalone: true}" nzPlaceHolder="Ngày(DD-MM-YYYY)"
                  nzFormat="dd-MM-YYYY"></nz-date-picker>
              </div>
            </div>
            <div class="form-group description-form-group">
              <label class="control-label col-md-2" for="nguoibc">Người BC</label>
              <div class="col-md-10">
                <input type="text" id="title_vn" name="nguoibc" placeholder="Tên người báo cáo" class="form-control"
                  [(ngModel)]="taskEdit.nguoibc" />
              </div>
            </div>
            <div class="form-group description-form-group">
              <label class="col-md-4">File nội bộ *.doc:</label>
              <div class="col-md-8">
                <div *ngIf="taskEdit?.fileUpload" class='m-t-5'>
                  <span>{{taskEdit?.fileUpload.name}}</span>
                  <div>
                    <a class="btn btn-link btn-xs" href="javascript:;" (click)="download(taskEdit?.fileUpload)">
                      <i aria-hidden="true" class="fa fa-download"></i> Tải
                    </a>
                    <a class="btn btn-link btn-xs" href="javascript:;" (click)="changeFileUpload()">
                      <i aria-hidden="true" class="fa fa-pencil-square-o"></i>Đổi file
                    </a>
                  </div>
                </div>
                <div *ngIf="!taskEdit?.fileUpload" class='m-t-5'>
                  <app-upload [uploadAccept]="'.pdf,.xls,.xlsx,.doc,.docx'" [uploadType]="'baocao'" [uploadTargetId]="taskEdit.id?taskEdit.id.toString():''"
                    [uploadDetail]="" [(ngModel)]="taskEdit.fileUpload" [ngModelOptions]="{standalone: true}"
                    (uploadFinish)="taskEdit.fileUploadId=$event.id">
                  </app-upload>
                </div>
              </div>
            </div>
            <div class="form-group description-form-group">
              <label class="col-md-4" nz-col nz-span="8">File công bố *.Pdf:</label>
              <div class="col-md-8">
                <div *ngIf="taskEdit?.filePublic" class='m-t-5'>
                  <span>{{taskEdit?.filePublic.name}}</span>
                  <div>
                    <a class="btn btn-link btn-xs" href="javascript:;" (click)="download(taskEdit?.filePublic)">
                      <i aria-hidden="true" class="fa fa-download"></i> Tải
                    </a>
                    <a class="btn btn-link btn-xs" href="javascript:;" (click)="changeFilePublic()">
                      <i aria-hidden="true" class="fa fa-pencil-square-o"></i>Đổi file
                    </a>
                  </div>
                </div>
                <div *ngIf="!taskEdit?.filePublic" class='m-t-5'>
                  <app-upload [uploadAccept]="'.pdf'" [uploadType]="'baocao'" [uploadTargetId]="taskEdit.id?taskEdit.id.toString():''"
                    [uploadDetail]="" [(ngModel)]="taskEdit.filePublic" [ngModelOptions]="{standalone: true}"
                    (uploadFinish)="taskEdit.filePublicId=$event.id">
                  </app-upload>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <hr class="edit-last-separator-hr" />
            </div>
            <div class="form-group actionBtn-form-group">

              <div class="fl-r m-r-20">
                <button type="submit" class="btn btn-primary">OK</button>
                <button style="margin-left:5px" type="button" class="btn btn-primary" (click)="editorModal.hide()">Exit</button>
              </div>
            </div>
            <div class="clearfix">
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>