<div class="form-horizontal">
  <div class="form-group">
    <label for="refreshButton" class="col-sm-3 control-label">{{'preferences.ReloadPreferences' | translate}} </label>
    <div class="col-sm-4">
      <button id="refreshButton" class="btn btn-default" (click)="reloadFromServer()">
        <i class="fa fa-refresh"></i>
      </button>
    </div>
    <div class="col-sm-5">
      <p class="form-control-static text-muted small">{{'preferences.ReloadPreferencesHint' | translate}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr class="separator-hr" />
    </div>
  </div>

  <div class="form-group">
    <label for="language" class="col-sm-3 control-label">{{'preferences.Language' | translate}} </label>
    <div class="col-sm-4">
      <nz-select style="width:100%" [(ngModel)]="configurations.language" nzAllowClear nzPlaceHolder="Choose">
        <nz-option nzValue="vi" nzLabel="{{'preferences.Vietnamese' | translate}}"></nz-option>
        <nz-option nzValue="en" nzLabel="{{'preferences.English' | translate}}"></nz-option>
      </nz-select>
    </div>
    <div class="col-sm-5">
      <p class="form-control-static text-muted small">{{'preferences.LanguageHint' | translate}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr class="separator-hr" />
    </div>
  </div>

  <!-- <div class="form-group">
    <label for="homePage" class="col-sm-3 control-label">{{'preferences.HomePage' | translate}} </label>
    <div class="col-sm-4">

      <select id="homePage" [(ngModel)]="configurations.homeUrl" #homePageSelector="bootstrap-select" bootstrapSelect
        class="selectpicker form-control">
        <option data-icon="fa fa-tachometer" data-subtext="(Default)" value="/">{{'preferences.Dashboard' | translate}}</option>
        <option *ngIf="canViewCustomers" data-icon="fa fa-handshake-o" value="/customers">{{'preferences.Customers' |
          translate}}</option>
        <option *ngIf="canViewProducts" data-icon="fa fa-truck" value="/products">{{'preferences.Products' |
          translate}}</option>
        <option *ngIf="canViewOrders" data-icon="fa fa-shopping-cart" value="/orders">{{'preferences.Orders' |
          translate}}</option>
        <option data-icon="fa fa-info-circle" value="/about">{{'preferences.About' | translate}}</option>
        <option data-icon="fa fa-cog" value="/settings">{{'preferences.Settings' | translate}}</option>
      </select>
    </div>
    <div class="col-sm-5">
      <p class="form-control-static text-muted small">{{'preferences.HomePageHint' | translate}}</p>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      <hr class="separator-hr" />
    </div>
  </div>

  <div class="form-group">
    <label for="defaultTheme" class="col-sm-3 control-label">{{'preferences.Theme' | translate}} </label>
    <div *ngIf="themeSelectorToggle" class="col-sm-4">
      <nz-select style="width:100%" [(ngModel)]="configurations.theme" nzAllowClear nzPlaceHolder="Choose">
        <nz-option nzCustomContent nzValue="Default" nzLabel="Default">
          <span class='default-theme-option'>Default</span>
        </nz-option>
        <nz-option nzCustomContent nzValue="Red" nzLabel="Red">
          <span class='red-theme-option'>Red</span>
        </nz-option>
        <nz-option nzCustomContent nzValue="Orange" nzLabel="Orange">
          <span class='orange-theme-option'>Orange</span>
        </nz-option>
        <nz-option nzCustomContent nzValue="Green" nzLabel="Green">
          <span class='green-theme-option'>Green</span>
        </nz-option>
        <nz-option nzCustomContent nzValue="Gray" nzLabel="Gray">
          <span class='gray-theme-option'>Gray</span>
        </nz-option>
        <nz-option nzCustomContent nzValue="Black" nzLabel="Black">
          <span class='black-theme-option'>Black</span>
        </nz-option>
      </nz-select>
    </div>
    <div class="col-sm-5">
      <p class="form-control-static text-muted small">{{'preferences.ThemeHint' | translate}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr class="separator-hr" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label" for="dashboardStatistics">{{'preferences.DashboardStatistics' | translate}}
    </label>
    <div class="col-sm-4">
      <div class="checkbox">
          <nz-switch name="dashboardStatistics" [(ngModel)]="configurations.showDashboardStatistics"></nz-switch>
      </div>
    </div>
    <div class="col-sm-5">
      <p class="form-control-static text-muted small">{{'preferences.DashboardStatisticsHint' | translate}}</p>
    </div>
  </div>
  <!--  -->

  <div class="row">
    <div class="col-md-12">
      <hr class="subseparator-hr" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label" for="dashboardTodo">{{'preferences.DashboardNotifications' | translate}}
    </label>
    <div class="col-sm-4">
      <div class="checkbox">
        <nz-switch name="dashboardNotifications" [(ngModel)]="configurations.showDashboardNotifications"></nz-switch>
      </div>
    </div>
    <div class="col-sm-5">
      <p class="form-control-static text-muted small">{{'preferences.DashboardNotificationsHint' | translate}}</p>
    </div>
  </div>
  <!--  -->

  <div class="row">
    <div class="col-md-12">
      <hr class="subseparator-hr" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label" for="dashboardTodo">{{'preferences.DashboardTodo' | translate}} </label>
    <div class="col-sm-4">
      <div class="checkbox">
        <nz-switch name="dashboardTodo" [(ngModel)]="configurations.showDashboardTodo"></nz-switch>
      </div>
    </div>
    <div class="col-sm-5">
      <p class="form-control-static text-muted small">{{'preferences.DashboardTodoHint' | translate}}</p>
    </div>
  </div>
  <!--  -->


  <div class="row">
    <div class="col-md-12">
      <hr class="subseparator-hr" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label" for="dashboardBanner">{{'preferences.DashboardBanner' | translate}}</label>
    <div class="col-sm-4">
      <div class="checkbox">
        <nz-switch name="dashboardBanner" [(ngModel)]="configurations.showDashboardBanner"></nz-switch>
      </div>
    </div>
    <div class="col-sm-5">
      <p class="form-control-static text-muted small">{{'preferences.DashboardBannerHint' | translate}}</p>
    </div>
  </div>
  <!--  -->



  <div class="row">
    <div class="col-md-12">
      <hr class="last-separator-hr" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-6 col-reset-default">
          <button type="button" (click)="resetDefault()" class="btn btn-success">
            <i class='fa fa-circle-o-notch'></i> {{'preferences.ResetDefault' | translate}}
          </button>
        </div>
        <div class="col-sm-6 col-set-default">
          <button type="button" (click)="setAsDefault()" class="btn btn-primary">
            <i class='fa fa-hdd-o'></i> {{'preferences.SetDefault' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>