﻿@{
ViewData["Title"] = NgonNgu["About"];
}


<hr class="plr-30" />
<div class="container mt--20 section-title">
    <h2>@NgonNgu["About"]</h2>
</div>
<div class="container mb--10 plr-30">

    <div class="row">
        <div class="col-md-4 about-label">
        @NgonNgu["About_Name"]
        </div>
        <div class="col-md-8 about-detail">
            @NgonNgu["Danang Polytechnic Institute of Science and Technology"] <br />
            @NgonNgu["University of Science and Technology"]
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 about-label">@NgonNgu["About_International_Name"]</div>
        <div class="col-md-8 about-detail">
            Danang Polytechnic Institute of Science and Technology
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 about-label">@NgonNgu["About_Abbreviations"]</div>
        <div class="col-md-8 about-detail">
            DPIST
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 about-label">@NgonNgu["About_Location"]</div>
        <div class="col-md-8 about-detail">
            @NgonNgu["Address"]
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 about-label">@NgonNgu["About_Content3"]</div>
        <div class="col-md-8 about-detail">
            @NgonNgu["About_Content4"]
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 about-label">@NgonNgu["About_Content2"]</div>
        <div class="col-md-8 about-detail">
            @NgonNgu["University of Science and Technology"]
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 about-label">@NgonNgu["About_Manager"]</div>
        <div class="col-md-8 about-detail">@NgonNgu["About_Manager_Name"]</div>
    </div>
    <div class="row">
        <div class="col-md-4 about-label"> @NgonNgu["About_Content"]</div>
        <div class="col-md-8 about-detail">
            @NgonNgu["About_Content1"]
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 about-label">@NgonNgu["About_Date_Created"]</div>
        <div class="col-md-8 about-detail">
            08/06/2018
        </div>
    </div>
</div>