﻿@{
    ViewData["Title"] = NgonNgu["Contact"];
}
<hr class="plr-30" />
<div class="container mt--40 section-title mb--10">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="contact-area" id="contact">
    <div class="container">
        <div class="row no-gutters align-items-center">
            <div class="col-lg-6">
                <div class="contact-information">
                    <div class="contact-info">
                        <div class="contact-title">
                            <h2>@NgonNgu["Contact"]</h2>
                            <p>
                                @NgonNgu["Danang Polytechnic Institute of Science and Technology"] <br /> @NgonNgu["University of Science and Technology"]
                            </p>
                        </div>
                        <div class="contact-address">
                            <ul>
                                <li><i class="fa fa-phone"></i> <span class="information">  <a href="tel:+02363720992">0236 372 0992</a></span></li>
                                <li>
                                    <i class="fa fa-envelope-o"></i> <span class="information">
                                        <a href="mailto:dpist@dut.edu.vn">dpist@dut.edu.vn</a>
                                    </span>
                                </li>
                                <li><i class="fa fa-map-o"></i> <span class="information">@NgonNgu["Address"]</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form class="contact-form-area" asp-action="Email" asp-controller="Home" method="post">
                    <div class="row contact-form">
                        <div class="form-group col-md-12">
                            <input name="name" class="form-control" placeholder="Name" type="text" id="name">
                        </div>
                        <div class="form-group col-md-12">
                            <input name="email" class="form-control" placeholder="Email" type="email" id="email">
                        </div>
                        <div class="form-group col-md-12">
                            <input name="subject" class="form-control" placeholder="Subject" type="text" id="subject">
                        </div>
                        <div class="form-group col-md-12">
                            <textarea name="message" class="yourmessage form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="submit-form form-group col-sm-12">
                            <button class="button submit-btn" type="submit"><span>@NgonNgu["Contact_Send"]</span></button>
                            <p class="form-messege"></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container section-title  mt--10 mb--10">
    <h2>Map</h2>
</div>
<div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8065412332817!2d108.1514626145484!3d16.075525788877027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218d68dff9545%3A0x714561e9f3a7292c!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBCw6FjaCBLaG9hIC0gxJDhuqFpIGjhu41jIMSQw6AgTuG6tW5n!5e0!3m2!1svi!2s!4v1542514269674" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!-- Contact Area End -->