﻿@model QuanlyVkhcn.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}



<hr class="plr-30" />
@if (ViewBag.code == 404)
{
    <div class="container mt--20 section-title">
        <h2 class="text-danger">@NgonNgu["Error"]</h2>
        <h4 class="text-danger">@NgonNgu["Not Found"]</h4>
    </div>
}
else
{

    @if (Model != null && Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

}