﻿@{
    ViewData["Title"] = "Trang chủ";
}

<div class="hero-slider  hero-slider-1 " id="slider" style="margin-top:-100px;">
    <div class="single-slide " style="background-image: url(/assets/images/slider/slider.png)">
        <!-- Hero Content One Start -->
        <div class="hero-content-one container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider-text-info text-center">
                        <h4></h4>
                        <h1>
                            @NgonNgu["Danang Polytechnic Institute of Science and Technology"] <br>
                            <span>
                                @NgonNgu["University of Science and Technology"]
                            </span>
                        </h1>
                        @*<div class="slider-button">
            <a href="#" class="slider-btn theme-btn">Read More</a>
            <a href="#" class="slider-btn white-btn">Contact Us</a>
        </div>*@
                        

                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Content One End -->
    </div>
</div>




<div class="container">
    <partial name="_feature" />
</div>

