﻿@model QuanlyVkhcn.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = ViewBag.Title;
}

<hr class="plr-30" />
@if (ViewBag.Title !=null)
{
    <div class="container mt--20 section-title">
        <h2>@ViewBag.Title</h2>
        <h4 >@ViewBag.Message</h4>
    </div>
}
