﻿@model QuanlyVkhcn.ViewModels.NewsViewModel
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using QuanlyVkhcn.Helpers
@{

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var language = requestCulture.RequestCulture.Culture.Name;
    var title = language == "vi" ? Model.Title_VN : Model.Title_EN;
    var imageUrl = language == "vi" ? Model.Image_VN : Model.Image_EN;
    var content = language == "vi" ? Model.Content_VN : Model.Content_EN;
    ViewData["title"] = title;
}

@if (!string.IsNullOrEmpty(imageUrl))
{
    <div class="hero-slider hero-slider-1 " id="slider">
        <div class="single-slide " style="background-image: url(@imageUrl)">
            <div class="hero-content-one container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-text-info text-center">
                            <h4></h4>
                            <h1>
                                <span>
                                    @title
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero Content One End -->
        </div>
    </div>
}
else
{
    <div class="row center-row">
        <h3>@title</h3>
    </div>
}

<div class="container mt--20 mb--20">
    <div class="news-content-detail">
        @Html.Raw(content)
    </div>
</div>