﻿
@model IEnumerable<QuanlyVkhcn.ViewModels.NewsViewModel>
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using QuanlyVkhcn.Helpers.Tag
@addTagHelper *, QuanlyVkhcn
@{
    ViewData["Title"] = NgonNgu["News"];
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var language = requestCulture.RequestCulture.Culture.Name;
}

<hr class="plr-30" />
<div class="container mt--20 section-title">
    <h2>@NgonNgu["News"]</h2>
</div>

@if (Model.Count() == 0)
{
    <div class="row center-row" >
        <h4>Không có tin tức</h4>
    </div>
}

<div class="container mt--50">
    <div class="news-list-area">
        <div class="row">
            @foreach (QuanlyVkhcn.ViewModels.NewsViewModel p in Model)
            {
                @if (p.IsView_VN && language == "vi")
                {
                    <div class="col-lg-4">
                        <div class="single-feature mb--30">
                            <div class="bg-img" style="background-image:url(@p.Image_VN)">
                            </div>
                            <div class="feature-text">
                                <h3> @p.Title_VN</h3>
                                <p>@QuanlyVkhcn.Helpers.Utilities.TrimHtmlText(p.Content_VN, 300) </p>
                            </div>
                            <div class="read-more">
                                <a class="button" asp-action="NewsDetail" asp-controller="Home" asp-route-id="@p.Id">Đọc thêm</a>
                            </div>
                        </div>
                    </div>
                }
                @if (p.IsView_EN && language == "en-US")
                {
                    <div class="col-lg-4">
                        <div class="single-feature mb--30">
                            <div class="bg-img" style="background-image:url(@p.Image_EN)">
                            </div>
                            <div class="feature-text">
                                <h3>@p.Title_EN</h3>
                                <p>@QuanlyVkhcn.Helpers.Utilities.TrimHtmlText(p.Content_EN, 300) </p>
                            </div>
                            <div class="read-more">
                                <a class="button" asp-action="NewsDetail" asp-controller="Home" asp-route-id="@p.Id">Read more</a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
        <div class="row  mb--10  center-row">
            <nav class="theme-color">
                <pager pager-model="@ViewBag.paginate"></pager>
            </nav>
        </div>

    </div>
</div>

