<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-handshake-o fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Customers' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <!---- Sample Page Content ---->
    </div>
</div>
