<div>
  <div class="row control-box">
    <br />
    <div class="col-sm-8">
      <div class="form-group search-box">
        <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'app.Search' | translate}}"></search-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="navbar action-box">
        <ul class="nav navbar-nav">
          <li class="toolbaritem">
            <a href="javascript:;" (click)="add()">
              <i nz-icon type="plus"></i>
              {{'app.New' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ngx-datatable class="material colored-header sm table-hover" [columnMode]="'force'" [rowHeight]="35" [headerHeight]="35"
    [footerHeight]="35" [scrollbarV]="true" [scrollbarH]="true" [rows]="data" [columns]="columns">
  </ngx-datatable>

  <ng-template #editTemplate let-row="row" let-value="value" let-i="index">
    <div>
      <a class="btn btn-link btn-xs" href="javascript:;" (click)="download(row.fileUpload)">
        <i aria-hidden="true" class="fa fa-download"></i> Tải</a>
      |
      <a class="btn btn-link btn-xs" href="javascript:;" (click)="edit(row)"><i class="fa fa-pencil-square-o"
          aria-hidden="true"></i> Edit</a>
      |
      <a class="btn btn-link btn-xs" href="javascript:;" (click)="remove(row)"><i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete</a>
    </div>
  </ng-template>


  <div class="modal fade" bsModal #editorModal="bs-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-tasks"></i> Công văn</h4>
          <button type="button" class="close fl-r" title="Close" (click)="editorModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form *ngIf="formResetToggle" class="form-horizontal" name="taskEditorForm" #f="ngForm" novalidate (ngSubmit)="save()">

            <div class="form-group description-form-group">
              <label class="control-label col-md-2" for="loaicv">Loại Công văn</label>
              <div class="col-md-10">
                <nz-select style="width: 100%;" [ngModelOptions]="{standalone: true}" [(ngModel)]="taskEdit.loaicv"
                  nzAllowClear nzPlaceHolder="Chọn loại công văn'">
                  <nz-option [nzValue]="value" [nzLabel]="value" *ngFor="let value of options"></nz-option>
                </nz-select>
              </div>
            </div>
            <div class="form-group description-form-group">
              <label class="control-label col-md-2" for="socv">Số Công văn</label>
              <div class="col-md-10">
                <input type="text" id="title_vn" name="socv" placeholder="Số công văn" class="form-control" [(ngModel)]="taskEdit.socv" />
              </div>
            </div>
            <div class="form-group description-form-group">
              <label class="control-label col-md-2" for="ngaybh">Ngày ban hành</label>
              <div class="col-md-10">
                <div class="col-xs-12 col-12 col-md-4 form-group">
                  <nz-date-picker [(ngModel)]="taskEdit.ngaybh" nzPlaceHolder="Ngày(DD-MM-YYYY)" nzFormat="dd-MM-YYYY"></nz-date-picker>
                </div>
              </div>
            </div>
            <div class="form-group description-form-group">
              <label class="control-label col-md-2" for="noidungcv">Nội dung công văn:</label>
              <div class="col-md-10">
                <input type="text" id="title_vn" name="noidungcv" placeholder="Nội dung" class="form-control"
                  [(ngModel)]="taskEdit.noidungcv" />
              </div>
            </div>
            <div class="form-group description-form-group">
              <label class="control-label col-md-2" for="nguoiky">Người Ký</label>
              <div class="col-md-10">
                <input type="text" id="title_vn" name="nguoiky" placeholder="Tên người ký" class="form-control"
                  [(ngModel)]="taskEdit.nguoiky" />
              </div>
            </div>
            <div class="form-group description-form-group">
              <label class="control-label col-md-2" for="noinhan">Nơi Nhận</label>
              <div class="col-md-10">
                <input type="text" id="title_vn" name="noinhan" placeholder="Nơi nhận (cá nhân/tổ chức)" class="form-control"
                  [(ngModel)]="taskEdit.noinhan" />
              </div>
            </div>
            <div class="form-group description-form-group">
              <div class="col-md-12">
                <div class=row>
                  <label class="control-label col-md-2">File đính kèm :</label>
                  <div class="col-md-10">
                    <app-upload #fileUpload [uploadAccept]="'.png, .jpg, .jpeg, .pdf, .doc, .xls, .xlsx, .docx'"
                      [uploadType]="'congvandi'" [uploadTargetId]="taskEdit.id?taskEdit.id.toString():''" [(ngModel)]="taskEdit.fileUpload"
                      [ngModelOptions]="{standalone: true}" (uploadFinish)="taskEdit.fileUploadId=$event.id">
                      <div *ngIf="taskEdit?.fileUpload" class='m-t-5'>
                        <span>{{taskEdit?.fileUpload.name}}</span>
                        <div>
                          <a class="btn btn-link btn-xs" href="javascript:;" (click)="download(taskEdit?.fileUpload)">
                            <i aria-hidden="true" class="fa fa-download"></i> Tải</a>
                          <a class="btn btn-link btn-xs" href="javascript:;" (click)="changeFileUpload()">
                            <i aria-hidden="true" class="fa fa-pencil-square-o"></i>Đổi file</a>
                        </div>
                      </div>
                    </app-upload>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <hr class="edit-last-separator-hr" />
              </div>
              <div class="form-group actionBtn-form-group">
                <div class="fl-r m-r-20">
                  <button type="submit" class="btn btn-primary">OK</button>
                  <button style="margin-left:5px" type="button" class="btn btn-primary" (click)="editorModal.hide()">Exit</button>
                </div>
              </div>
              <div class="clearfix">
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>