<div class='m-t-20'>

</div>

<nz-card nzTitle="Tin tức">
    <form nz-form [formGroup]="newsForm" (ngSubmit)="submitForm($event,newsForm.value)">

        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab nzTitle="Tin tức tiếng việt">
                <nz-form-item>
                    <nz-form-label [nzSpan]="5" nzRequired>Tiêu đề</nz-form-label>
                    <nz-form-control [nzSpan]="17" nzHasFeedback>
                        <input nz-input formControlName="title_VN" placeholder="">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="5" nzRequired>Ảnh</nz-form-label>
                    <nz-form-control [nzSpan]="17">
                        <input *ngIf="!newsForm.get('image_VN').value" nz-input formControlName="image_VN" placeholder="">
                        <app-upload nz-col #fileUpload [uploadAccept]="'.png, .jpg'" [uploadType]="'image'"
                            [uploadTargetId]="" [uploadDetail]="" [(ngModel)]="image_VN" [ngModelOptions]="{standalone: true}"
                            (uploadFinish)="getUploadPath($event,'image_VN')">
                            <div *ngIf="newsForm.get('image_VN').value">
                                <img [src]="getImageUrl(newsForm.get('image_VN').value)" width="200px" height="60px">
                            </div>
                            <a *ngIf="newsForm.get('image_VN').value" class="btn btn-link btn-xs" href="javascript:;"
                                (click)="newsForm.get('image_VN').setValue('');image_VN=''">
                                <i aria-hidden="true" class="fa fa-pencil-square-o"></i>Đổi
                            </a>
                        </app-upload>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="5" nzRequired>Nội dung</nz-form-label>
                    <nz-form-control [nzSpan]="17">
                        <angular-editor id="editor1" formControlName="content_VN" [config]="editorConfig"></angular-editor>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="5" nzRequired>Hiển thị</nz-form-label>
                    <nz-form-control [nzSpan]="17">
                        <nz-switch formControlName="isView_VN"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </nz-tab>
            <nz-tab nzTitle="Tin tức tiếng anh">
                <nz-form-item>
                    <nz-form-label [nzSpan]="5" nzRequired>Title</nz-form-label>
                    <nz-form-control [nzSpan]="17" nzHasFeedback>
                        <input nz-input formControlName="title_EN" placeholder="">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="5" nzRequired>Ảnh</nz-form-label>
                    <nz-form-control [nzSpan]="17" nzHasFeedback>
                        <input nz-input formControlName="image_EN" placeholder="">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="5" nzRequired>Content</nz-form-label>
                    <nz-form-control [nzSpan]="17" nzHasFeedback>
                        <angular-editor id="editor2" formControlName="content_EN" [config]="editorConfig"></angular-editor>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="5" nzRequired>Display</nz-form-label>
                    <nz-form-control [nzSpan]="17">
                        <nz-switch formControlName="isView_EN"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </nz-tab>
        </nz-tabset>


        <nz-form-item>
            <nz-form-control [nzOffset]="5" [nzSpan]="17">
                <button nz-button nzType="primary" [disabled]="!newsForm.valid" class="m-r-10">
                    {{isNew ?"Thêm":"Cập nhật"}}</button>
                <button nz-button (click)="resetForm($event)">Reset</button>

                <button *ngIf="isNew" nz-button (click)="resetForm($event)">Xóa</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>