
<div>
  <div class="row control-box">
    <div class="col-sm-8">
      <div class="form-group search-box">
        <br />
        <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'app.Search' | translate}}"></search-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="navbar action-box">
        <ul class="nav navbar-nav">
          <li class="toolbaritem">
            <a href="javascript:;" (click)="add()">
              <i class="fa fa-plus"></i>
              {{'app.New' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ngx-datatable class="material colored-header sm table-hover"
                 [columnMode]="'force'"
                 [rowHeight]="35"
                 [headerHeight]="35"
                 [footerHeight]="35"
                 [scrollbarV]="true"
                 [scrollbarH]="true"
                 [rows]="data"
                 [columns]="columns">
  </ngx-datatable>

  <ng-template #editTemplate let-row="row" let-value="value" let-i="index">
    <div>
      <a class="btn btn-link btn-xs" href="javascript:;" (click)="download(row.fileUpload)">
        <i aria-hidden="true" class="fa fa-download"></i> Tải</a>
      <a *ngIf="isViewManageProject">|</a>
      <a *ngIf="isViewManageProject" class="btn btn-link btn-xs" href="javascript:;" (click)="edit(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
      <a *ngIf="isViewManageProject">|</a>
      <a *ngIf="isViewManageProject" class="btn btn-link btn-xs" href="javascript:;" (click)="remove(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> Del</a>
    </div>
  </ng-template>

  <ng-template #dateTemplae let-value="value">
    <span> {{value | date:'dd/MM/yyyy'}}</span>
  </ng-template>


  <div class="modal fade" bsModal #editorModal="bs-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-tasks"></i> {{'todoDemo.editor.NewTask' | translate}}</h4>
          <button type="button" class="close fl-r" title="Close" (click)="editorModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form *ngIf="formResetToggle" class="form-horizontal" name="taskEditorForm" #f="ngForm" novalidate
                (ngSubmit)="save()">

            <div class="form-group description-form-group">
              <label class="control-label col-md-2" for="loaifile">Loại File</label>
              <div class="col-md-10">
                <input type="text" id="title_vn" name="loaifile" placeholder="Loại file bạn muốn tạo mẫu" class="form-control" [(ngModel)]="taskEdit.loaifile" />
              </div>
            </div>

            <div class="form-group description-form-group">
              <label class="control-label col-md-2" for="c">Tên File</label>
              <div class="col-md-10">
                <input type="text" id="title_vn" name="tenfile" placeholder="Tên file" class="form-control" [(ngModel)]="taskEdit.tenfile" />
              </div>
            </div>
            <div class="form-group description-form-group">
              <label class="control-label col-md-2" for="ngaytao">Ngày tạo</label>
              <div class="col-md-10">
                <nz-date-picker [(ngModel)]="taskEdit.ngaytao"
                                [ngModelOptions]="{standalone: true}"
                                nzPlaceHolder="Ngày(DD-MM-YYYY)" nzFormat="dd-MM-YYYY"></nz-date-picker>
              </div>
            </div>
            <div class="form-group description-form-group">
              <label class="control-label col-md-2" for="nguoitao">Người tạo</label>
              <div class="col-md-10">
                <input type="text" id="title_vn" name="nguoitao" placeholder="Tên người báo cáo" class="form-control" [(ngModel)]="taskEdit.nguoitao" />
              </div>
            </div>
            <div class="form-group description-form-group">
              <div class="col-md-12">

                <div class=row>
                  <label class="control-label col-md-2">File:</label>
                  <div class="col-md-10">
                    <div *ngIf="taskEdit?.fileUpload" class='m-t-5'>
                      <span>{{taskEdit?.fileUpload.name}}</span>
                      <div>
                        <a class="btn btn-link btn-xs" href="javascript:;" (click)="download(taskEdit?.fileUpload)">
                          <i aria-hidden="true" class="fa fa-download"></i> Tải
                        </a>
                        <a class="btn btn-link btn-xs" href="javascript:;" (click)="changeFileUpload()">
                          <i aria-hidden="true" class="fa fa-pencil-square-o"></i>Đổi file
                        </a>
                      </div>
                    </div>
                    <div *ngIf="!taskEdit?.fileUpload">
                      <app-upload [uploadAccept]="'.pdf,.xls,.xlsx,.doc,.docx'"
                                  [uploadType]="'filetemplate'"
                                  [uploadTargetId]="taskEdit.id?taskEdit.id.toString():''"
                                  [uploadDetail]=""
                                  [(ngModel)]="taskEdit.fileUpload"
                                  [ngModelOptions]="{standalone: true}"
                                  (uploadFinish)="taskEdit.fileUploadId=$event.id">
                      </app-upload>
                    </div>
                  </div>
                  
                  </div>
          
              </div>

              <div class="col-md-12">
                <hr class="edit-last-separator-hr" />
              </div>
              <div class="form-group actionBtn-form-group">

                <div class="fl-r m-r-20">
                  <button type="submit" class="btn btn-primary" (click)="editorModal.hide()">OK</button>
                  <button style="margin-left:5px" type="button" class="btn btn-primary" (click)="editorModal.hide()">Exit</button>
                </div>
              </div>
              <div class="clearfix">
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

